/* Add declarations to universal selector */

* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add declarations to the class selector */


/* Add declarations to the class selector */


/* Add declaration to the chaining selector */


/* Add declaration to the chaining selector */


/* Add declaration to the chaining selector */